@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Raleway:wght@400;700&display=swap');

:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);

    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
    --grayish-blue-opacity: hsla(201, 11%, 66%, 0.1);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;

    min-height: 100vh;
    text-align: center;
}

header {
    background: url('../images/bg-header-desktop.png'),
        linear-gradient(
            0deg,
            rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 0) 30%
        );
    background-blend-mode: screen;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 13rem;
    padding-bottom: 5.5rem;
}

h2 {
    font-size: 3.4rem;
    color: var(--dark-grayish-blue);
}

h3 {
    color: var(--dark-grayish-blue);
}

p {
    color: var(--grayish-blue);

    margin-left: auto;
    margin-right: auto;

    line-height: 3rem;
}

a {
    text-decoration: none;
}

.intro,
.snippets,
.productivity,
.clients,
.download-apps {
    margin-bottom: 15rem;
}

.intro h1 {
    font-size: 4.5rem;
    color: var(--dark-grayish-blue);
}

.intro p,
.snippets p,
.access p,
.productivity p,
.download-apps p {
    max-width: 38%;
}

.intro p {
    margin-top: 2rem;
    margin-bottom: 4.5rem;

    font-size: 2rem;
}

.snippets p {
    margin-top: 2rem;
    margin-bottom: 8.5rem;
}

.content-snippets {
    display: flex;
    align-items: center;
    text-align: left;

    max-width: 100%;
}

.img-snippets {
    width: 50%;
}

.img-snippets img {
    float: right;
}

.content-snippets p {
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 6rem;

    max-width: 100%;
}

.tools-snippets {
    width: 50%;
    padding-left: 11.2rem;
}

.tools-snippets p {
    max-width: 48%;
}

.access {
    margin-bottom: 7rem;
}

.access p {
    margin-top: 1rem;
    margin-bottom: 10rem;
}

.productivity p {
    margin-top: 2rem;
    margin-bottom: 8rem;
}

.features {
    display: flex;
    margin-right: calc(0.1 * 100vw);
    margin-left: calc(0.1 * 100vw);
}

.feature {
    flex: 1;
}

.feature:nth-child(2) {
    margin: 0rem 2rem;
}

.feature img {
    height: 4rem;
    width: auto;
    margin-bottom: 4.5rem;
}

.feature p {
    max-width: 100%;
}

.clients {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 3rem;

    margin-left: calc(0.05 * 100vw);
    margin-right: calc(0.05 * 100vw);
}

.download-apps p {
    margin-top: 2.5rem;
    margin-bottom: 5.6rem;
}

.downloads a {
    font-weight: 600;
    border-radius: 3rem;
}

.downloads a:hover {
    opacity: 0.8;
}

.downloads a:first-child {
    background-color: var(--strong-cyan);
    border-bottom: 0.3rem solid hsl(171, 66%, 36%);

    box-shadow: 0rem 1rem 4rem --2rem var(--strong-cyan);
    margin-right: 1rem;
}

.downloads a:last-child {
    background-color: var(--light-blue);
    border-bottom: 0.3rem solid hsl(233, 65%, 58%);

    box-shadow: 0rem 1rem 4rem -2rem var(--light-blue);
}

.download {
    display: inline-block;
    padding: 1.5rem 3.8rem;
    color: #fff;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--grayish-blue-opacity);
}

.logo img {
    width: 5.6rem;
    height: 5.6rem;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
    column-gap: calc(0.07 * 100vw);

    margin: 4.8rem calc(0.2 * 100vw) 4.8rem calc(0.1 * 100vw);
}

.nav a:hover {
    color: var(--strong-cyan);
}

footer a {
    text-align: left;
    color: var(--dark-grayish-blue);
}

.social-media a:nth-child(2) svg {
    margin: 0rem 1.8rem;
}

.social-media svg:hover path {
    fill: var(--strong-cyan);
}

/*:::::::::::::: Responsive ::::::::::::::*/

@media (max-width: 1070px) {
    .intro p,
    .snippets p,
    .access p,
    .productivity p,
    .download-apps p {
        max-width: 80%;
    }

    .content-snippets {
        flex-direction: column;
        text-align: center;
    }

    .img-snippets {
        width: auto;

        margin-bottom: 10rem;
    }

    .tools-snippets {
        padding: 0;
        width: 50%;
    }

    .content-snippets img {
        float: none;
    }

    .content-snippets p {
        text-align: center;
        max-width: 100%;
    }

    .features {
        flex-direction: column;
    }

    .feature p {
        max-width: 80%;
    }

    .clients {
        grid-template-columns: 1fr;
        row-gap: 8rem;
    }

    .downloads {
        margin-left: auto;
        margin-right: auto;

        max-width: min(300px, 80%);
    }

    .downloads a:first-child {
        margin-bottom: 2rem;
    }

    .download {
        width: 100%;
    }

    footer {
        flex-direction: column;
        padding: 5rem 0rem;
    }

    .nav {
        grid-template-columns: 1fr;
        justify-items: center;
        margin: 4.8rem;
    }
}

@media (max-width: 820px) {
    header {
        background: url('../images/bg-header-mobile.png'),
            linear-gradient(
                0deg,
                rgba(255, 255, 255, 1),
                rgba(255, 255, 255, 0) 30%
            );
        background-repeat: no-repeat;
        background-size: cover;
    }

    .intro h1 {
        font-size: 3.2rem;
        padding: 0rem 4rem;
    }

    .intro p,
    .snippets p,
    .access p,
    .productivity p,
    .download-apps p {
        font-size: 1.6rem;
        max-width: 75%;
    }

    .img-snippets {
        width: 80%;
        margin-bottom: 5rem;
    }

    .img-snippets img,
    .img-access img {
        width: 100%;
        height: auto;
    }

    .content-snippets {
        display: flex;
        flex-direction: column;
    }

    .tools-snippets {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;

        text-align: center;
    }

    .tools-snippets p {
        margin-left: auto;
        margin-right: auto;
    }

    .features {
        display: flex;
        flex-direction: column;
    }

    .clients {
        grid-template-columns: 1fr;
        row-gap: 8rem;
    }

    .downloads {
        display: flex;
        flex-direction: column;
    }

    .downloads a:first-child {
        margin-right: 0rem;
        margin-bottom: 2rem;
    }

    footer {
        flex-direction: column;
        padding: 5rem 0rem;
    }

    .nav {
        grid-template-columns: 1fr;
        justify-items: center;
        margin: 4.8rem;
    }
}
